<h1>Listing user_product_segments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_product_segments.each do |user_product_segment| %>
  <tr>
    <td><%= link_to 'Show', user_product_segment %></td>
    <td><%= link_to 'Edit', edit_user_product_segment_path(user_product_segment) %></td>
    <td><%= link_to 'Destroy', user_product_segment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User product segment', new_user_product_segment_path %>
